@import 'all.scss';

.slider-container {
    // change the code below to add scss variable inside css variable
    --slider-color: #{$low-check-color};

    &.LOW {
        --slider-color: #{$low-check-color};
    }

    &.PERFORMANCE {
        --slider-color: #{$performance-check-color};
    }

    &.CUSTOM {
        
        span {
            color: $text-main-color;
        }

        --slider-color: #{$custom-check-color};
    }

    width: 100%;
    position: relative;
    margin-bottom: rem(30);


    &__input {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%;
        height: rem(10);
        border-radius: rem(5);
        background-color: $item-border-color;

        &::-webkit-slider-thumb {
            -webkit-appearance: none; 
            appearance: none;
            width: rem(15); 
            height: rem(15); 
            border-radius: 50%;
            background: var(--slider-color); 
            cursor: pointer; 
        }
    }

    &__graduation  {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: -5px;

        span {
            width: rem(25);
            text-align: center;
            font-size: $font-secondary-size;
            color: $item-border-color;
        }

    }
}