@import "all.scss";

.energy-menu {
  max-width: 600px;

  &__name {
    text-align: center;
    margin-bottom: rem(20);
    font-size: rem(20);
    font-weight: $font-bold;
  }
}

h3 {
  text-align: center;
}
