<div class="energy-info" *ngIf="(activeItem$ | async) as item">
    <h1 class="energy-info__title">
        {{ item.title }}
    </h1>

    <p class="energy-info__description">
        {{ item.description }}
    </p>

    <div class="energy-info__widgets">
        <div class="widgets__energy-consumption">
            <div class="img-wrapper">
                <img class="img-wrapper__img" src="/assets/light.svg "> 
            </div>
            <div class="energy-consumption">
                <div class="energy-consumption__header">
                    <span>Energy consumption</span>
                    <img src="/assets/info.svg" alt="info">
                </div>
                <div class="energy-consumption__content">
                    <div class="content__promotion">
                        -12.5%
                    </div>
                    <div class="content__new-consumption">
                        <span class="value">56</span>
                        <span class="type">Wh</span>
                    </div>
                    <div class="content__previous-consumption">
                        <span class="value">76</span>
                        <span class="type">Wh</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widgets__co2"></div>
    </div>
</div>