@import 'all.scss';

$size: rem(30px);
$gap: rem(15px);

:host {
  --color-active: #{$low-check-color};
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    width: $size;
    height: $size;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: transparent;
    border: solid rem(3px) $item-border-color;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    // background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    border-color: var(--color-active);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc($size - $gap);
    height: calc($size - $gap);
    border-radius: 50%;
    background-color: var(--color-active);
  }