@import 'all.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    background: $bg-color;
    font-family: $font-family;
    color: $text-main-color;
    padding: rem(10);
}

h1 {
    font-weight: $font-bold;
    font-size: $font-h1-size;
    color: $text-main-color;
}

h2 {
    font-weight: $font-bold;
    font-size: $font-h2-size;
    color: $text-secondary-color;
}