@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@import './functions';

$font-family: 'IBM Plex Sans', sans-serif;
$font-bold: 700;
$font-regular: 400; 

$font-paragraph-lh: 27px;

$font-h1-size: rem(24);
$font-h2-size: rem(24);
$font-p-size: rem(16);
$font-secondary-size: rem(12);